<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter Client</title>
    <style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    .content {
      flex: 1;
    }

    footer {
      background-color: #f5f5f5;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="content">
<h1>Currency Converter Client</h1>

<form action="/convert" method="POST">
    <label for="amount">Amount:</label>
    <input type="text" id="amount" name="amount">

    <label for="from_currency">From Currency:</label>
    <select id="from_currency" name="from_currency">
        <option value="EUR">EUR - Euro</option>
    <option value="USD">USD - United States Dollar</option>
    <option value="GBP">GBP - British Pound Sterling</option>
    <option value="JPY">JPY - Japanese Yen</option>
    <option value="BGN">BGN - Bulgarian Lev</option>
    <option value="CZK">CZK - Czech Koruna</option>
    <option value="DKK">DKK - Danish Krone</option>
    <option value="HUF">HUF - Hungarian Forint</option>
    <option value="PLN">PLN - Polish Zloty</option>
    <option value="RON">RON - Romanian Leu</option>
    <option value="SEK">SEK - Swedish Krona</option>
    <option value="CHF">CHF - Swiss Franc</option>
    <option value="ISK">ISK - Icelandic Krona</option>
    <option value="NOK">NOK - Norwegian Krone</option>
    <option value="TRY">TRY - Turkish Lira</option>
    <option value="AUD">AUD - Australian Dollar</option>
    <option value="BRL">BRL - Brazilian Real</option>
    <option value="CAD">CAD - Canadian Dollar</option>
    <option value="CNY">CNY - Chinese Yuan Renminbi</option>
    <option value="HKD">HKD - Hong Kong Dollar</option>
    <option value="IDR">IDR - Indonesian Rupiah</option>
    <option value="ILS">ILS - Israeli Shekel</option>
    <option value="INR">INR - Indian Rupee</option>
    <option value="KRW">KRW - South Korean Won</option>
    <option value="MXN">MXN - Mexican Peso</option>
    <option value="MYR">MYR - Malaysian Ringgit</option>
    <option value="NZD">NZD - New Zealand Dollar</option>
    <option value="PHP">PHP - Philippine Peso</option>
    <option value="SGD">SGD - Singapore Dollar</option>
    <option value="THB">THB - Thai Baht</option>
    <option value="ZAR">ZAR - South African Rand</option>
    </select>

    <label for="to_currency">To Currency:</label>
    <select id="to_currency" name="to_currency">
        <option value="USD">USD - United States Dollar</option>
        <option value="EUR">EUR - Euro</option>
        <option value="GBP">GBP - British Pound Sterling</option>
    <option value="JPY">JPY - Japanese Yen</option>
    <option value="BGN">BGN - Bulgarian Lev</option>
    <option value="CZK">CZK - Czech Koruna</option>
    <option value="DKK">DKK - Danish Krone</option>
    <option value="HUF">HUF - Hungarian Forint</option>
    <option value="PLN">PLN - Polish Zloty</option>
    <option value="RON">RON - Romanian Leu</option>
    <option value="SEK">SEK - Swedish Krona</option>
    <option value="CHF">CHF - Swiss Franc</option>
    <option value="ISK">ISK - Icelandic Krona</option>
    <option value="NOK">NOK - Norwegian Krone</option>
    <option value="TRY">TRY - Turkish Lira</option>
    <option value="AUD">AUD - Australian Dollar</option>
    <option value="BRL">BRL - Brazilian Real</option>
    <option value="CAD">CAD - Canadian Dollar</option>
    <option value="CNY">CNY - Chinese Yuan Renminbi</option>
    <option value="HKD">HKD - Hong Kong Dollar</option>
    <option value="IDR">IDR - Indonesian Rupiah</option>
    <option value="ILS">ILS - Israeli Shekel</option>
    <option value="INR">INR - Indian Rupee</option>
    <option value="KRW">KRW - South Korean Won</option>
    <option value="MXN">MXN - Mexican Peso</option>
    <option value="MYR">MYR - Malaysian Ringgit</option>
    <option value="NZD">NZD - New Zealand Dollar</option>
    <option value="PHP">PHP - Philippine Peso</option>
    <option value="SGD">SGD - Singapore Dollar</option>
    <option value="THB">THB - Thai Baht</option>
    <option value="ZAR">ZAR - South African Rand</option>
    </select>

    <button type="submit">Convert</button>
</form>

<p id="result">{{ result }}</p>
</div>
<footer>
    <p>This currency converter is for the project SE lecture in SDE24 FH Campus Wien by Turgut Aydemir</p>
    <p>Disclaimer: This is a demonstration project and the currency conversion rates provided may not reflect real-time or accurate values. Use at your own risk.</p>
</footer>

</body>
</html>

